* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  height: 10000px;
}
body.body.open {
  overflow-y: hidden;
}

.container {
  max-width: 140rem;
  padding: 1.5rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  color: hsl(0, 0%, 0%);
  border-radius: 0.3rem;
  font-weight: 550;
  position: relative;
  transition: 0.5s ease;
}
.btn.bg--primary {
  background: hsl(294, 54%, 27%);
  color: hsl(0, 0%, 100%);
  transition: 0.5s ease;
}
.btn.bg--primary::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.3rem;
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: -1;
}
.btn.bg--primary:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--primary:hover {
  z-index: 999;
  color: hsl(294, 54%, 27%);
  transition: 0.5s ease;
}
.btn.bg--light {
  background: hsl(0, 0%, 100%);
  color: hsl(294, 54%, 27%);
  border: 1px solid hsl(294, 54%, 27%);
  transition: 0.5s ease;
}
.btn.bg--light::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(294, 54%, 27%);
  border-radius: 0.3rem;
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: -1;
}
.btn.bg--light:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--light:hover {
  z-index: 999;
  color: hsl(0, 0%, 100%);
  transition: 0.5s ease;
}
.btn.bg--blue {
  background: hsl(217, 89%, 61%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(217, 89%, 61%);
  transition: 0.5s ease;
}
.btn.bg--blue::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.3rem;
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: -1;
}
.btn.bg--blue:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--blue:hover {
  z-index: 999;
  color: hsl(217, 89%, 61%);
  transition: 0.5s ease;
}

/*COMPONENTS*/
.header {
  z-index: 999;
  background: hsl(300, 62.16%, 14.51%);
  position: relative;
  position: fixed;
  width: 100%;
}
.header .container {
  transition: 1s ease;
}
.header.white {
  background: transparent;
}
.header.white .container {
  background: hsl(300, 62.16%, 14.51%);
  border-radius: 5rem;
  margin-top: 1rem;
  transition: 1s ease;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .branding {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .branding img {
  width: 4rem;
}
.header .branding h3 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}
.header .branding ul {
  display: none;
}
.header__nav {
  position: absolute;
  background: hsl(0, 0%, 100%);
  top: 0;
  right: -100rem;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
}
.header__nav .toggle__menu {
  z-index: 999;
}
.header__nav .toggle__menu.open span {
  width: 2.5rem;
  height: 0.2rem;
  background-color: hsl(294, 54%, 27%);
  border-radius: 5rem;
}
.header__nav .toggle__menu.open span:nth-child(2) {
  margin: 0.2rem 0;
}
.header__nav.open {
  right: 0rem;
  transition: 0.5s ease;
}
.header__nav img {
  width: 15rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
}
.header__nav ul.nav {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.header__nav ul.nav li {
  padding: 2rem;
}
.header__nav ul.nav li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: hsl(0, 0%, 0%);
}
.header__nav ul.nav li a i {
  color: hsl(0, 0%, 0%);
  transition: 0.1s ease;
}
.header__nav ul.nav li a i.open {
  transform: rotate(180deg);
  transition: 0.1s ease;
}
.header__nav ul.nav ul.drop {
  margin: 0 3rem;
  max-height: 0rem;
  overflow: hidden;
  transition: 0.5s ease;
  background: hsl(0, 0%, 100%);
}
.header__nav ul.nav ul.drop li a {
  font-size: 1.5rem;
}
.header__nav ul.nav ul.drop.open {
  max-height: 50rem;
  transition: 0.5s ease;
  background: hsl(0, 0%, 100%);
}
.header__nav__btn {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: hsl(0, 0%, 100%);
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.header__nav__btn a {
  width: 100%;
  text-align: center;
  align-items: center;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__actions a i {
  color: hsl(0, 0%, 100%);
}
.header__actions .toggle__menu {
  z-index: 999;
  cursor: pointer;
}
.header__actions .toggle__menu span {
  width: 1.5rem;
  height: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5rem;
  display: block;
}
.header__actions .toggle__menu span:nth-child(2) {
  margin: 0.2rem 0;
}
.header__actions .toggle__menu.open span:first-child {
  transform: translateY(5.5px) rotate(225deg);
  transition: 0.5s ease;
  background-color: hsl(0, 0%, 0%);
  width: 1.5rem;
}
.header__actions .toggle__menu.open span:nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.header__actions .toggle__menu.open span:last-child {
  transform: translateY(-2.5px) rotate(-225deg);
  transition: 0.5s ease;
  background-color: hsl(0, 0%, 0%);
  width: 1.5rem;
}
.header__actions__btn {
  display: none;
}
@media screen and (min-width: 940px) {
  .header__nav {
    display: none;
  }
  .header .branding ul {
    display: flex;
    gap: 2rem;
    margin-left: 3rem;
  }
  .header .branding ul li {
    transition: 0.5s ease;
  }
  .header .branding ul li a {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .header .branding ul li a i {
    font-size: 1rem;
  }
  .header .branding ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  .header__actions .toggle__menu {
    display: none;
  }
  .header__actions__btn {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .header__actions__btn .sign {
    color: hsl(0, 0%, 100%);
  }
}

.banner {
  padding-top: 10rem;
  background: hsl(300, 62.16%, 14.51%);
  position: relative;
}
.banner .container {
  padding: 0 1rem;
}
.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  height: 85vh;
}
.banner video {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
.banner__text {
  text-align: center;
}
.banner__text h2 {
  line-height: 1;
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}
.banner__text h2 span {
  color: hsl(42, 83%, 55%);
}
.banner__text p {
  color: hsl(0, 0%, 100%);
  max-width: 40rem;
  margin: 0 auto;
}
.banner__text p:last-child {
  display: none;
}
.banner__text__btn {
  margin-top: 1.5rem;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.banner__text__btn a {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.banner__text__btn a:last-child {
  position: relative;
}
.banner__text__btn a:last-child img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  background: hsl(0, 0%, 100%);
  position: absolute;
  left: 4px;
  border-radius: 0.2rem;
  padding: 1rem;
}
@media screen and (min-width: 940px) {
  .banner__wrapper {
    height: 100%;
    padding-bottom: 8rem;
  }
  .banner__content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
    align-items: center;
  }
  .banner__text {
    text-align: left;
  }
  .banner__text h2 {
    line-height: 1;
    font-size: 6rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
    max-width: 62rem;
  }
  .banner__text h2 span {
    color: hsl(42, 83%, 55%);
  }
  .banner__text p {
    max-width: 65rem;
    margin-left: 0;
    max-width: 55rem;
    font-weight: 600;
  }
  .banner__text p:last-child {
    display: unset;
  }
  .banner__text__btn {
    margin-top: 1.5rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    width: 85%;
    gap: 1rem;
  }
  .banner video {
    width: 110%;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    position: unset;
    bottom: 0;
  }
}

.trust {
  padding-top: 3rem;
  background: hsl(34, 42%, 93%);
}
.trust .container {
  padding: 0 1rem;
}
.trust__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.trust__text {
  text-align: center;
}
.trust__text p {
  font-size: 1.5rem;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
}
.trust__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.trust__images img {
  padding: 2rem 1.5rem;
}
.trust__images img#air {
  width: 15rem;
}
.trust__images img#target {
  width: 8rem;
}
.trust__images img#nasa {
  width: 10rem;
}
.trust__images img#uber {
  width: 11rem;
}
.trust__images img#nyt {
  width: 20rem;
}
.trust__images img#etsy {
  width: 10rem;
}
@media screen and (min-width: 940px) {
  .trust__images {
    padding: 1rem 1.5rem;
    gap: 5rem;
  }
  .trust__images img {
    max-width: 100%;
  }
  .trust__images img#air {
    width: 15rem;
  }
  .trust__images img#target {
    width: 8rem;
  }
  .trust__images img#nasa {
    width: 10rem;
  }
  .trust__images img#uber {
    width: 11rem;
  }
  .trust__images img#nyt {
    width: 20rem;
  }
  .trust__images img#etsy {
    width: 10rem;
  }
}

.alternate {
  background: hsl(34, 42%, 93%);
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.alternate__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.alternate__content:nth-child(even) video {
  margin-left: 8rem;
}
.alternate__content video {
  width: 40rem;
}
.alternate__content video#vid {
  display: none;
}
.alternate__text {
  padding: 1rem 1rem;
}
.alternate__text h3 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
.alternate__text p {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.alternate__text a {
  color: hsl(206, 76%, 36%);
  font-size: 1.8rem;
}
@media screen and (min-width: 940px) {
  .alternate__wrapper {
    max-width: 138rem;
    margin: 0 auto;
  }
  .alternate__content {
    display: flex;
    flex-direction: row;
    gap: 20rem;
    align-items: center;
  }
  .alternate__content:first-child a::after {
    width: 0%;
    height: 0.2rem;
    content: "";
    display: block;
    background-color: hsl(206, 76%, 36%);
    transition: 0.5s ease;
  }
  .alternate__content:first-child a:hover::after {
    width: 53.5%;
    transition: 0.5s ease;
  }
  .alternate__content:last-child a::after {
    width: 0%;
    height: 0.2rem;
    content: "";
    display: block;
    background-color: hsl(206, 76%, 36%);
    transition: 0.5s ease;
  }
  .alternate__content:last-child a:hover::after {
    width: 41.5%;
    transition: 0.5s ease;
  }
  .alternate__content:nth-child(even) {
    flex-direction: row-reverse;
  }
  .alternate__content:nth-child(even) a::after {
    width: 0%;
    height: 0.2rem;
    content: "";
    display: block;
    background-color: hsl(206, 76%, 36%);
    transition: 0.5s ease;
  }
  .alternate__content:nth-child(even) a:hover::after {
    width: 70%;
    transition: 0.5s ease;
  }
  .alternate__content:nth-child(even) video {
    margin-left: 8rem;
  }
  .alternate video {
    width: 60rem;
  }
  .alternate video#vid {
    display: unset;
  }
  .alternate video#vidmob {
    display: none;
  }
  .alternate__text {
    padding: 0;
  }
  .alternate__text h3 {
    font-size: 5rem;
    line-height: 1.1;
  }
  .alternate__text P {
    text-align: justify;
    max-width: 55rem;
  }
}

.stats {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.stats .container {
  padding: 0 1rem;
}
.stats__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.stats__text {
  text-align: center;
}
.stats__text h2 {
  line-height: 1;
  font-size: 3rem;
  color: hsl(0, 0%, 0%);
  margin-bottom: 3rem;
}
.stats__text p {
  color: hsl(0, 0%, 0%);
  max-width: 40rem;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 550;
}
.stats__text__btn {
  margin-top: 0.8rem;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.stats__text__btn a {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.stats__percent {
  text-align: center;
}
.stats__percent ul li {
  margin: 2rem 0;
}
.stats__percent ul li span {
  color: hsl(294, 54%, 27%);
  font-size: 5rem;
  font-weight: 700;
}
.stats__percent ul li p {
  font-size: 1.5rem;
  max-width: 20rem;
  margin: 0 auto;
}
@media screen and (min-width: 940px) {
  .stats__text h2 {
    font-size: 5rem;
  }
  .stats__text P {
    max-width: unset;
  }
  .stats__text__btn {
    justify-content: center;
    gap: 1rem;
    display: flex;
    flex-direction: row;
  }
  .stats__text__btn a {
    width: 30rem;
  }
  .stats__text__btn a:last-child {
    width: 20rem;
  }
  .stats__percent ul {
    display: flex;
    justify-content: center;
    gap: 20rem;
  }
  .stats__percent ul li span {
    font-size: 6rem;
  }
}

.project {
  padding-top: 3rem;
}
.project__wrapper h4 {
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
  color: gray;
}
.project__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.project__content video {
  width: 45rem;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.project__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.project__text a {
  color: hsl(206, 76%, 36%);
}
.project__text a::after {
  width: 0%;
  height: 0.2rem;
  content: "";
  display: block;
  background-color: hsl(206, 76%, 36%);
  transition: 0.5s ease;
}
.project__text a:hover::after {
  width: 47.5%;
  transition: 0.5s ease;
}
.project__text h3 {
  font-size: 2.2rem;
  font-weight: lighter;
  font-style: italic;
  max-width: 42rem;
}
.project__text ul li span {
  font-weight: 600;
}
.project__text ul li p {
  max-width: 40rem;
}
@media screen and (min-width: 940px) {
  .project__wrapper {
    max-width: 150rem;
    margin: 0 auto;
  }
  .project__content {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .project__content video {
    width: 80rem;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
  }
  .project__text {
    gap: 2rem;
  }
  .project__text h3 {
    max-width: unset;
  }
  .project__text p {
    max-width: unset;
  }
}/*# sourceMappingURL=main.css.map */